pyserial
mbed-ls
mbed-cli
termcolor
mercurial
pyelftools == 0.29
pyyaml
jsonschema
jinja2
mbed_host_tests
mbed_greentea
pycryptodome
pyusb
cmsis_pack_manager
psutil
cryptography
click
cbor
numpy
packaging
tensorflow >= 2.21, < 2.22
# Optional: if available for your platform/index, this is preferred by keras_compat.
# tf-keras >= 2.21, < 2.22
# tflite-micro is only required on Linux
tflite-micro; platform_system == 'Linux'
