#ifndef {{ prefix|upper }}_QUANTIZE_H
#define {{ prefix|upper }}_QUANTIZE_H

#include <stdint.h>
#include <float.h>
#include "arm_nnfunctions.h"
#include "arm_nn_types.h"

// Input data (float32, for testing)
static const {{ input_dtype }} {{ name }}_input[] = {
{{ input_data_array }}
};

// Expected output (golden - quantized)
static const {{ output_dtype }} {{ name }}_expected_output[] = {
{{ expected_output_array }}
};

#endif
